body {
  margin    : 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stockTicker {
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  animation       : slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(49, 157, 207) 50%, #09f 50%);
  bottom          : 0;
  left            : -50%;
  opacity         : 0.5;
  position        : fixed;
  right           : -50%;
  top             : 0;
  z-index         : -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration : 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform        : translate3d(0, 0, 0);
    visibility       : visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform        : translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform        : translate3d(0, 0, 0);
    visibility       : visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform        : translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position        : fixed;
  top             : 2;
  width           : 100%;
  overflow        : hidden;
  height          : 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left    : 100%;
  box-sizing      : content-box;
}

.ticker-wrap .ticker {
  display                          : inline-block;
  height                           : 4rem;
  line-height                      : 4rem;
  white-space                      : nowrap;
  padding-right                    : 100%;
  box-sizing                       : content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count        : infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function        : linear;
  -webkit-animation-name           : ticker;
  animation-name                   : ticker;
  -webkit-animation-duration       : 30s;
  animation-duration               : 30s;
}

.ticker-wrap .ticker__item {
  display  : inline-block;
  padding  : 0 2rem;
  font-size: 2rem;
  color    : white;
}

.chart {
  padding-top: 5rem;
  font-family: 'Bungee Inline',
    cursive;
  color : rgb(199, 221, 240);
}

.price {
  font-size : 2.0rem;
  text-align: center;
}

.price-time {
  font-size : 2.0rem;
  text-align: center;
}

.up {
  color: #34a853;
}

.down {
  color: #d93025;
}